@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.carousel-section {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--color-white);

    &__title {
        color: var(--color-content);
        padding: pxToRem(16);
        text-align: center;
    }

    &__inner {
        padding-block: pxToRem(16);
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        background-color: var(--color-background-light);
        gap: pxToRem(16);
    }

    .carousel__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: pxToRem(16);
        max-width: 100%;
    }
}

.carousel__wrapper {
    width: 100%;
    max-width: pxToRem(725);
}

.carousel__slide {
    img {
        height: pxToRem(247);
        width: pxToRem(179);
    }
}

.carousel__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: pxToRem(40);
    height: pxToRem(40);
    border-radius: 50%;
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
}

.carousel__nav--prev {
    display: none;
    left: pxToRem(4);
}

.carousel__nav--next {
    display: none;
    right: pxToRem(4);
}

.carousel__pagination {
    display: flex;

    .swiper-pagination-bullet {
        width: pxToRem(8);
        height: pxToRem(8);
        border-radius: 50%;
        background-color: $color-gunsmoke;
        opacity: 0.7;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--color-secondary);
    }
}

.recommendation-card {
    height: pxToRem(330);
    width: pxToRem(386);
    align-content: center;
    box-sizing: border-box;
    background-color: var(--color-white);
    border-radius: pxToRem(8);
    box-shadow: 0 pxToRem(6) pxToRem(12) rgba(0, 0, 0, 0.08);
    padding: pxToRem(16);
}

.recommendation-card__body {
    display: flex;
    align-items: center;
}

.recommendation-card__content {
    padding-inline: pxToRem(12);
}

.recommendation-card__eyebrow {
    color: var(--color-content);
}

.recommendation-card__title {
    color: var(--color-secondary);
}

.recommendation-card__meta {
    padding-top: pxToRem(40);
    display: flex;
    gap: pxToRem(12);

    .icon {
        font-size: pxToRem(28);
    }
}

.recommendation-card__media {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: pxToRem(24);
}

.recommendation-card__media img {
    width: pxToRem(150);
    aspect-ratio: 0.9;
    object-fit: cover;
}

.recommendation-card__cta {
    width: pxToRem(150);
    border: none;
    padding: pxToRem(10) pxToRem(16);
    background-color: var(--color-content);
    color: var(--color-white);
    cursor: pointer;
}

.carousel__icon {
    background: transparent;
    border: none;
    height: pxToRem(48);
    font-size: pxToRem(8);
}

@include respond-tablet {
    .carousel-section {
        &__inner {
            padding: pxToRem(32) pxToRem(60);
        }
    }

    .carousel__wrapper {
        width: pxToRem(725);
    }

    .carousel__nav--prev {
        display: block;
    }

    .carousel__nav--next {
        display: block;
    }

    .carousel__slide {
        img {
            height: inherit;
            width: inherit;
            transform: scale(0.75);
            transform-origin: center center;
        }
    }

    .carousel__pagination {
        gap: pxToRem(4);

        .swiper-pagination-bullet {
            width: pxToRem(12);
            height: pxToRem(12);
        }
    }

    .recommendation-card {
        height: pxToRem(266);
        width: pxToRem(588);
        padding: pxToRem(20);
        border-radius: pxToRem(12);
    }
}

@include respond-desktop {
    .carousel-section {
        .carousel__container {
            gap: pxToRem(0);
        }

        &__inner {
            flex-direction: row;
            gap: pxToRem(60);
        }
    }

    .carousel__container {
        max-width: pxToRem(745);
    }

    .recommendation-card {
        width: pxToRem(588);
        height: pxToRem(278);
        flex-shrink: 0;
    }

    .recommendation-card__meta {
        padding-top: pxToRem(0);
    }
}
