@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
    background-color: var(--color-white);
    border-top: pxToRem(1) solid var(--color-border-light);

    &__container {
        padding: pxToRem(32) pxToRem(24);
        display: flex;
        flex-direction: column;
        max-width: pxToRem(1400);
        margin: 0 auto;
    }

    &__title {
        font-size: pxToRem(24);
        color: var(--color-text);
    }

    &__columns {
        display: none;
    }

    &__column-title {
        color: var(--color-background-dark);
        margin-bottom: pxToRem(24);
        text-transform: uppercase;
        font-weight: 400;
        font-size: pxToRem(14);
    }

    &__item {
        margin-bottom: pxToRem(16);
        font-weight: 400;
        font-size: pxToRem(14);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: pxToRem(8);
        text-decoration: none;
        color: var(--color-surface);
        transition: opacity 0.2s ease;
        &:hover {
            text-decoration: underline;
        }
    }

    &__icon {
        filter: grayscale(100%) contrast(80%) brightness(150%);
        clip-path: circle(50% at center);
        object-fit: cover;
        width: pxToRem(35);
        height: pxToRem(35);
    }
}

@include respond-tablet {
    .footer {
        &__container {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: pxToRem(60);
        }
        &__title {
            width: pxToRem(150);
        }
        &__columns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex: 1;
        }
    }
}

@include respond-desktop {
    .footer {
        &__column {
            flex: 1;
            padding-left: pxToRem(20);
            border-left: pxToRem(1) solid var(--color-border-light);
        }
    }
}
