@use 'sass:math';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

$nav-height: 80px;
$dropdown-width: pxToRem(180);
$drawer-width: pxToRem(240);
$transition-fast: 180ms ease;

:root {
    --color-primary: #{$color-different-blue};
    --color-secondary: #{$color-green-vogue};
    --color-white: #{$color-full-white};
    --color-text: #{$color-full-black};
}

/* base header */
.header {
    color: var(--color-text);
    // position: relative;
    width: 100%;
    background: var(--color-white);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.09);
    white-space: nowrap;
    z-index: 130s;

    &__inner {
        height: $nav-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: pxToRem(12);
        align-items: center;
        // max-width: 1450px;
        // max-width: inherit - 160px;
        // margin: 0 auto;
        padding-inline-end: pxToRem(18); //here
    }

    .header__left {
        display: inline-flex;
        align-items: center;
    }

    .header {
        .nav {
            display: block;

            .nav__list {
                display: flex;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                list-style: none;
                align-items: center;
            }
        }
    }

    /* hamburger (mobile) */
    &__toggle {
        display: inline-flex;
        min-height: $nav-height;
        aspect-ratio: 1/1;
        background: transparent;
        border: 0;
        background-color: var(--color-white);
        align-items: center;
        justify-content: center;
        font-size: pxToRem(24);
        line-height: 1;
        z-index: 140;
        transition:
            background-color $transition-fast,
            color $transition-fast;
        color: var(--color-secondary);

        &:hover {
            background: linear-gradient(
                to right,
                var(--color-secondary),
                var(--color-primary)
            );
            color: var(--color-white);
        }

        &.is-active {
            background: linear-gradient(
                to right,
                var(--color-secondary),
                var(--color-primary)
            );
            color: var(--color-white);

            svg,
            i {
                color: var(--color-white);
                fill: var(--color-white);
            }
        }
    }

    &__brand {
        height: inherit;
        display: inline-flex;
        align-items: center;
        gap: pxToRem(12);
        z-index: 60;
    }

    /* Logo */
    .logo {
        display: inline-flex;
        align-items: center;
        gap: pxToRem(10);
        text-decoration: none;
        color: var(--color-text);

        &__mark {
            width: pxToRem(36);
            height: pxToRem(36);
            display: inline-block;
            svg {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        &__text {
            display: none;
            align-items: baseline;
            transform: translateY(6px);
        }

        &__alura,
        &__books {
            display: inline-block;
        }
    }

    &__icons {
        display: inline-flex;
        gap: pxToRem(7);
        align-items: center;

        .icon {
            color: var(--color-secondary);
            background: transparent;
            border: none;
            height: 48px;
            font-size: pxToRem(30);
        }

        .icon__label {
            display: none;
        }
    }

    .nav {
        display: none;

        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav__item {
            position: relative;
        }

        .nav__link {
            background: transparent;
            border: 0;
            padding: pxToRem(10) pxToRem(6);
            text-transform: uppercase;
            cursor: pointer;
            color: var(--color-text);
        }

        /* dropdown */
        .nav__dropdown {
            position: absolute;
            top: calc(100% + pxToRem(6));
            left: 0;
            width: $dropdown-width;
            background: var(--color-white);
            box-shadow: 0 pxToRem(6) pxToRem(18) rgba(0, 0, 0, 0.2);
            border-radius: pxToRem(2);
            overflow: hidden;
            transform-origin: top left;
            opacity: 0;
            visibility: hidden;
            transform: translateY(pxToRem(-6));
            transition:
                opacity $transition-fast,
                transform $transition-fast,
                visibility $transition-fast;
            z-index: 80;

            .dropdown__list {
                list-style: none;
                margin: 0;
            }

            .dropdown__item {
                padding: pxToRem(18) pxToRem(18);
                font-size: pxToRem(16);
                color: var(--color-different-blue, #{var(--color-primary)});
                cursor: pointer;
            }
        }

        .nav__item.is-open .nav__dropdown,
        .nav__item:focus-within .nav__dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    .drawer {
        position: fixed;
        left: 0;
        top: $nav-height;
        width: $drawer-width;
        background: var(--color-white);
        padding-bottom: pxToRem(14);
        transform: translateX(-110%);
        transition: transform $transition-fast;
        z-index: 120;
        box-shadow: pxToRem(6) 0 pxToRem(20) rgba(0, 0, 0, 0.22);

        height: auto;
        max-height: calc(100vh - #{$nav-height} - pxToRem(16));
        overflow-y: auto;

        &__title {
            margin: pxToRem(20) pxToRem(20) pxToRem(10);
            color: var(--color-secondary);
        }

        &__list {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                padding: pxToRem(14) pxToRem(20);
                cursor: pointer;
                transition:
                    background-color $transition-fast,
                    color $transition-fast;
            }

            li:hover {
                background: linear-gradient(
                    to right,
                    var(--color-secondary),
                    var(--color-primary)
                );
                color: var(--color-white);
            }
        }

        &.is-open {
            transform: translateX(0);
        }
    }
}

@include respond-tablet {
    .header {
        background: var(--color-white);

        &__inner {
            padding-inline: 80px;
        }

        .logo {
            align-items: end;

            width: 264px;
            &__text {
                max-width: 16px;
                display: inline-flex;
                align-items: center;
            }
            &__mark {
                width: 40px;
                height: 40px;
            }
        }

        &__toggle {
            display: none;
        }

        .nav {
            display: block;

            .nav__list {
                gap: 24px;
                justify-content: space-between;
            }

            .nav__item {
                padding: pxToRem(1);
                display: flex;
            }

            .nav__link {
                text-decoration: none;
            }

            .nav__dropdown {
                .dropdown__item {
                    transition:
                        background-color $transition-fast,
                        color $transition-fast;
                    cursor: pointer;
                }

                .dropdown__item:hover {
                    background: linear-gradient(
                        to right,
                        var(--color-secondary),
                        var(--color-primary)
                    );
                    color: var(--color-white);
                }
            }
            .nav__item--has-dropdown {
                .nav__link:hover {
                    background: linear-gradient(
                        to right,
                        var(--color-secondary),
                        var(--color-primary)
                    );
                    color: var(--color-white);
                }
            }
        }

        &__icons {
            gap: pxToRem(38);
            // gap: pxToRem(19); //here
            width: 135px;
            justify-content: space-between;
        }

        .icon-favorite {
            display: none;
        }
    }
}

@include respond-desktop {
    .header {
        .logo &__mark {
            width: pxToRem(44);
            height: pxToRem(44);
        }

        .icon__label {
            display: block;
        }

        &__icons {
            gap: pxToRem(0);
            width: pxToRem(304);
            // width: 380px;

            .icon__label {
                margin-inline-end: pxToRem(48);
                // margin-inline-end: 60px;
            }
        }
    }
}
