@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero {
    height: pxToRem(215);
    color: var(--color-white);
    background: linear-gradient(
        to right,
        var(--color-secondary),
        rgb(from var(--color-secondary) r g b / 0.9)
    );
    text-align: center;
    text-wrap: balance;

    &__inner {
        height: 100%;
        width: 100%;
        display: flex;
        gap: pxToRem(8px);
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .search {
            height: pxToRem(44px);
            width: pxToRem(380px);
            display: flex;
            justify-content: center;
            margin-block: pxToRem(13);
            border: 1px solid;
            border-radius: pxToRem(24px);

            &__icon {
                font-size: pxToRem(20px);
                background: none;
                border: none;
                color: var(--color-white);
            }

            &__box {
                width: pxToRem(250px);
                color: var(--color-white);
                background: transparent;
                outline: none;
                border: none;
            }

            &__box::placeholder {
                color: var(--color-white);
            }
        }
    }
}

@include respond-tablet {
    .hero {
        height: pxToRem(330px);
        background: linear-gradient(
            to right,
            var(--color-secondary),
            rgb(from var(--color-secondary) r g b / 0.95)
        );

        &__inner {
            gap: pxToRem(4px);

            .search {
                width: pxToRem(476px);
                margin-block: pxToRem(25);
            }
        }
    }
}

@include respond-desktop {
    .hero {
        .search {
            width: pxToRem(586px);
        }
    }
}
