@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.topics-section {
    min-height: pxToRem(295);
    overflow-x: hidden;
    background: linear-gradient(
        to right,
        var(--color-secondary),
        rgb(from var(--color-secondary) r g b / 0.9)
    );
    display: flex;
    align-items: center;

    &__inner {
        width: 100%;
        max-width: pxToRem(743);
        padding: pxToRem(12);
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: pxToRem(32);
    }

    &__title {
        color: var(--color-white);
        text-align: center;
    }
}

.topics-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: pxToRem(12);
    max-width: 100%;
}

.topic-pill {
    appearance: none;
    border: 0;
    cursor: pointer;
    width: fit-content;
    height: pxToRem(56);
    padding: pxToRem(24);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: $color-satsuma;
    color: var(--color-white);
    white-space: nowrap;

    box-shadow: 0 pxToRem(6) pxToRem(16) rgba(0, 0, 0, 0.2);
}

@include respond-tablet {
    .topics-section {
        min-height: pxToRem(332);
    }

    .topics-list {
        gap: pxToRem(20);
    }

    .topic-pill {
        height: pxToRem(64);
        padding: pxToRem(24);
    }
}

@include respond-desktop {
    .topics-section {
        min-height: pxToRem(418);
    }
}
