$green-vogue: #002f52;
$different-blue: #326589;
$full-white: #ffffff;
$full-black: #000000;
$satsuma: #eb9b00;
$black-mist: #474646;
$gunsmoke: #858585;
$christmas-white: #ebecee;

$bp-large: 1728px;
$bp-tablet: 1024px;
$bp-phone: 428px;

$icomoon-font-family: 'icomoon';
$icomoon-font-path: '/assets/fonts/icomoon/';

$icon-Right-Arrow: '\e900';
$icon-Logo: '\e901';
$icon-Bag: '\e902';
$icon-Star: '\e903';
$icon-Avatar: '\e904';
$icon-Search: '\e905';
$icon-Left-Arrow: '\e906';
$icon-Email: '\e907';
