$color-green-vogue: #002f52;
$color-different-blue: #326589;
$color-full-white: #ffffff;
$color-full-black: #000000;
$color-satsuma: #eb9b00;
$color-black-mist: #474646;
$color-gunsmoke: #858585;
$color-christmas-white: #ebecee;

$bp-large: 1728px;
$bp-tablet: 1024px;
$bp-phone: 428px;

$icomoon-font-family: 'icomoon';
$icomoon-font-path: '/assets/fonts/icomoon/';
