@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins/Poppins-Bold.ttf') format('ttf');
    font-weight: 700;
    font-size: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins/Poppins-Medium.ttf') format('ttf');
    font-weight: 500;
    font-size: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-size: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins/Poppins-Light.ttf') format('ttf');
    font-weight: 300;
    font-size: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josephin Sans';
    src: url('/assets/fonts/josephin-sans/JosephinSans-Bold.ttf') format('ttf');
    font-weight: 700;
    font-size: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josephin Sans';
    src: url('/assets/fonts/josephin-sans/JosephinSans-Regular.ttf')
        format('ttf');
    font-weight: 400;
    font-size: normal;
    font-display: swap;
}
