@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

body {
    font-family: 'Poppins', sans-serif;
    font-size: pxToRem(16px);
    line-height: 1.5;
    color: $color-full-black;
}

.text {
    font-family: 'Poppins', sans-serif;

    &--36 {
        font-size: pxToRem(36);
    }

    &--30 {
        font-size: pxToRem(30);
    }

    &--26 {
        font-size: pxToRem(26);
    }

    &--24 {
        font-size: pxToRem(24);
    }

    &--18 {
        font-size: pxToRem(18);
    }

    &--16 {
        font-size: pxToRem(16);
    }

    &--bold {
        font-weight: 700;
    }

    &--medium {
        font-weight: 500;
    }

    &--regular {
        font-weight: 400;
    }

    &--light {
        font-weight: 300;
    }

    &--josefin {
        font-family: 'Josefin Sans', sans-serif;
    }
}
