@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

body {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1.5;
    color: $color-full-black;

    @include respond-tablet {
        font-size: 16px;
    }
}

.heading {
    font-family: 'Poppins';

    &__logo {
        font-family: 'Josefin Sans';
        font-size: 30px;
        font-weight: 700;

        &--medium {
            font-weight: 400;
        }
    }

    &--h1 {
        font-weight: 700;
        font-size: 18px;
        @include respond-tablet {
            font-size: 36px;
        }
    }

    &--h2 {
        font-weight: 700;
        font-size: 32px;
    }

    &--h3 {
        font-weight: 300;
        font-size: 32px;
    }

    &--h4 {
        font-weight: 500;
        font-size: 24px;
    }

    &--h5 {
        font-weight: 400;
        font-size: 24px;
    }

    &--h6 {
        font-weight: 400;
        font-size: 14px;
    }
}

.subheading {
    font-family: 'Poppins';

    &--v1 {
        font-weight: 700;
        font-size: 18px;
    }

    &--v2 {
        font-weight: 500;
        font-size: 16px;
    }
}

.text {
    font-family: 'Poppins';

    &--paragraph {
        font-weight: 400;
        font-size: 16px;
        @include respond-tablet {
            font-size: 16px;
        }
    }

    &--title {
        font-weight: 700;
        font-size: 18px;
    }

    &--subtitle {
        font-weight: 500;
        font-size: 16px;
    }
}

.label {
    font-family: 'Poppins';
    font-weight: 400;

    &--nav {
        font-size: 16px;
    }

    &--icon {
        font-size: 20px;
    }

    &--button {
        font-weight: 700;
        font-size: 16px;
    }

    &--brand {
        font-size: 14px;
    }
}
