@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: $full-black;
}

// Primary

.text-primary-36 {
    @include text-style(36px, 700);
}

.text-primary-26 {
    @include text-style(26px, 700);
}

.text-primary-24 {
    @include text-style(24px, 700);
}

.text-primary-18 {
    @include text-style(18px, 700);
}

.text-primary-16 {
    @include text-style(16px, 700);
}

// Secondary

.text-secondary-24 {
    @include text-style(24px, 400);
}

.text-secondary-18 {
    @include text-style(18px, 400);
}

.text-secondary-16 {
    @include text-style(16px, 400);
}

// Tertiary

.text-tertiary-24 {
    @include text-style(24px, 500);
}

.text-tertiary-16 {
    @include text-style(16px, 500);
}

// Light

.text-light-16 {
    @include text-style(16px, 300);
}

// Josephin

.text-josefin-30-bold {
    font-family: 'Josefin Sans';
    @include text-style(30px, 700, 'Josefin Sans');
}

.text-josefin-30-regular {
    @include text-style(30px, 400, 'Josefin Sans');
}
