body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

// Primary

.text-primary-36 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 36px;
}

.text-primary-26 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 26px;
}

.text-primary-24 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
}

.text-primary-18 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
}

.text-primary-16 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
}

// Secondary

.text-secondary-24 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
}

.text-secondary-18 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
}

.text-secondary-16 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}

// Tertiary

.text-tertiary-24 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
}

.text-tertiary-16 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
}

// Light

.text-light-16 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 16px;
}

// Josephin

.text-josephin-30-bold {
    font-family: 'Josephin Sans';
    font-weight: 700;
    font-size: 30px;
}

.text-josephin-30-regular {
    font-family: 'Josephin Sans';
    font-weight: 400;
    font-size: 30px;
}
